<app-header titulo="Manual de Uso de la App"></app-header>

<ion-content>
  <app-infousuario [nombreUser]="dataUser['nombre_us']" [correoUser]="dataUser['correo_us']" ></app-infousuario>

  <div id="container">
    <app-logo></app-logo>
  </div>

  <ion-slides class="sliderUsoApp" mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/1-inicio.png" alt="">
      <p>En inicio, tiene dos opciones principales, las cuales servirán de apoyo a la Orientación en caso de violencia o Información para conocer las últimas noticias en temas de ayuda a las mujeres. </p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/2-orientacion.png" alt="">
      <p>Seleccione el tipo de Violencia y el tipo de Agresor para tener más información al respecto, en esta sección le ofrecemos ayuda inmediata!!</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/3-panico.png" alt="">
      <p>En el botón de pánico encontrará toda la ayuda necesaria para ayudarle en caso de una emergencia, se presentan los dos contactos de apoyo inmediato, los cuales puede enviarle un mensaje de texto con la ubicación exacta en la que se encuentre o hacer una llamada directa. </p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/4-lineas.png" alt="">
      <p>También estan disponibles las 24 horas las líneas de emergencia en caso de alguna eventualidad. Puede llamar directamente desde la App.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/5-actualiza.png" alt="">
      <p>Es muy importante tener siempre actualizado sus datos personales y los contactos de emergencia, esto datos son necesarios para el botón de pánico. </p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/6-menu.png" alt="">
      <p>Utilice el menú de navegación para conocer más sobre nosotros y demás información de interés.</p>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
