<app-header titulo="Conócenos"></app-header>

<ion-content>
  <div id="container">
    <ion-slides mode="ios" pager="true">
      <ion-slide class="slide-1">
        <ion-card>
          <app-logo></app-logo>
          <h1>¿Quiénes Somos?</h1>
          <p>+ Mujer es una aplicación para ayudar a las mujeres que son victimas 
            de cualquier tipo de maltrato, las guía para realizar su denuncia, identifica
            el tipo de agresión e instruye a las mujeres en lo que deben hacer.</p>
        </ion-card>
      </ion-slide>

      <ion-slide class="slide-2">
        <ion-card>
          <div class="contLogo">
            <ion-img src="../../assets/img/derechos-de-las-mujeres.png"></ion-img>
          </div>
          <h1>¿Como nace + Mujer?</h1>
          <p>+Mujer nace de la experiencia vivida de uno de sus creadores con 
            mujeres víctimas de violencia, de saber que muchas no denuncian
            por falta de conocimiento, porque no saben que están siendo violentadas,
            porque no saben dónde acudir o porque simplemente no saben 
            que deben hacer para que las protejan.</p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
