<app-header titulo="Conócenos"></app-header>

<ion-content>
  <div id="container">
    <app-logo></app-logo>
    <h1>¿Quiénes Somos?</h1>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, temporibus necessitatibus labore saepe culpa corporis. Inventore enim corporis ducimus sint? Minus, doloribus. Neque aspernatur asperiores, quam cumque tempore rem quisquam.</p>
        </ion-col>
        <ion-col size="12">
          <h1>¿Como nace + Mujer?</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse iure incidunt fugit? Dolorum laudantium obcaecati vel fugit inventore. Adipisci mollitia illo est quam veniam velit reiciendis in iusto optio. Officiis.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
