<app-header titulo="Conócenos"></app-header>

<ion-content>
  <div id="container">
    <ion-slides mode="ios" pager="true">
      <ion-slide class="slide-1">
        <ion-card>
          <app-logo></app-logo>
          <h1>¿Quiénes Somos?</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, temporibus necessitatibus labore saepe culpa corporis. Inventore enim corporis ducimus sint? Minus, doloribus. Neque aspernatur asperiores, quam cumque tempore rem quisquam.</p>
        </ion-card>
      </ion-slide>

      <ion-slide class="slide-2">
        <ion-card>
          <div class="contLogo">
            <ion-img src="../../assets/img/derechos-de-las-mujeres.png"></ion-img>
          </div>
          <h1>¿Como nace + Mujer?</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse iure incidunt fugit? Dolorum laudantium obcaecati vel fugit inventore. Adipisci mollitia illo est quam veniam velit reiciendis in iusto optio. Officiis.</p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
