<app-header titulo="Líneas de Emergencia"></app-header>

<ion-content>
  <div id="container">
    <app-logo></app-logo>
    <h1>Utilice las líneas de llamada rápida!</h1>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        
        <ion-chip outline (click)="HacerllamadaDirecta(155)">
          <ion-icon name="call-outline" color="primary"></ion-icon>
          <ion-label>Violencia de género</ion-label>
        </ion-chip>

        <ion-chip outline (click)="HacerllamadaDirecta(123)">
          <ion-icon name="call-outline" color="primary"></ion-icon>
          <ion-label>Policia</ion-label>
        </ion-chip>

        <ion-chip outline (click)="HacerllamadaDirecta(122)">
          <ion-icon name="call-outline" color="primary"></ion-icon>
          <ion-label>Fiscalía</ion-label>
        </ion-chip>

        <ion-chip outline (click)="HacerllamadaDirecta(141)">
          <ion-icon name="call-outline" color="primary"></ion-icon>
          <ion-label>ICBF</ion-label>
        </ion-chip>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
