<app-header titulo="Orientación"></app-header>

<ion-content>
  <app-infousuario [nombreUser]="dataUser['nombre_us']" [correoUser]="dataUser['correo_us']" ></app-infousuario>

  <div id="container">
    <app-logo></app-logo>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="col-orientacion">

          <ion-list>
            <ion-radio-group [(ngModel)]="violencia">
              <ion-list-header>
                <ion-label>
                  ¿Que tipo de violencia sufres?
                </ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Física</ion-label>
                <ion-radio slot="start" color="secondary" value="fisica"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Verbal</ion-label>
                <ion-radio slot="start" color="secondary" value="verbal"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Psicológica</ion-label>
                <ion-radio slot="start" color="secondary" value="psicologica"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Sexual</ion-label>
                <ion-radio slot="start" color="secondary" value="sexual"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Económica</ion-label>
                <ion-radio slot="start" color="secondary" value="economica"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Acoso</ion-label>
                <ion-radio slot="start" color="secondary" value="acoso"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-list>
            <ion-radio-group [(ngModel)]="agresor">
              <ion-list-header>
                <ion-label>
                  ¿Quien es tu agresor?
                </ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Pareja o Ex-pareja</ion-label>
                <ion-radio slot="start" color="secondary" value="pareja"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Novio o Ex-novio</ion-label>
                <ion-radio slot="start" color="secondary" value="expareja"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Familiar</ion-label>
                <ion-radio slot="start" color="secondary" value="novio-a"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Otro</ion-label>
                <ion-radio slot="start" color="secondary" value="exnovio-a"></ion-radio>
              </ion-item>
          
            </ion-radio-group>
          </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button type="button" class="btnAceptar" expand="block" (click)="ObtenerOrientacion()">
          <ion-icon slot="start" name="send-outline"></ion-icon>
          Orientar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="onClick()" class="btnCancelar" expand="block">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
