.contGrid{
  text-align: center;
  ion-col{
    padding: 10px 15px;
    max-width: 47% !important;
    margin: 15px 3px;
    background-color: #f63880;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    position: relative;
    h2{
      color: white;
      margin: 5px 0;
    }
    p{
      color: #ffffff;
      font-size: 12px;
      font-family: system-ui;
      margin: 2px 0;
    }
    ion-img{
      width: 100px;
      margin: auto;
    }
    h2{
      font-size: 17px;
      font-weight: 600;
      font-family: system-ui;
    }
  }
  ion-col:hover{
    background-color: white;
    box-shadow:1px 5px 10px -2px #f63880;
  }
  ion-col:hover h2,
  ion-col:hover p{
    color: #f63880;
  }
}
