<app-header titulo="Inicio"></app-header>

<ion-content>
  <app-infousuario [nombreUser]="dataUser['nombre_us']" [correoUser]="dataUser['correo_us']" ></app-infousuario>

  <div id="container">
    <app-logo></app-logo>
    <p class="ptextInicio">+ Mujer es una aplicación para ayudar a las mujeres que son victimas 
      de cualquier tipo de maltrato, las guía para realizar su denuncia, identifica
      el tipo de agresión e instruye a las mujeres en lo que deben hacer.</p>
    <div>
      <h1>¿Que necesitas?</h1>
    </div>
    <ion-grid class="contGrid" fixed>
      <ion-row>
        <ion-col size="6" (click)="navOrientacion()">
          <ion-img src="/assets/img/orientacion.png"></ion-img>
          <h2>Orientación</h2>
          <p>¡Saber como denunciar o solicitar ayuda!</p>
        </ion-col>
        <ion-col size="6" (click)="navInformacion()">
          <ion-img src="/assets/img/informacion.png"></ion-img>
          <h2>Información</h2>
          <p>¡Entérate. conoce las leyes y todo lo referente a la violencia de género!</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

