
.contGrid{
  text-align: center;
  ion-col{
    padding: 10px 15px;
    max-width: 47% !important;
    margin: 40px 3px;
    background-color: #f63880;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    position: relative;
    p{
      position: absolute;
      bottom: -82px;
      left: -5px;
      width: 136px;
      height: 72px;
      overflow: hidden;
      background-color: white;
      color: #8c8c8c;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 18px 11px;
      font-size: 10px;
      box-shadow: 2px 2px 2px 2px;
    }
    ion-img{
      width: 100px;
      margin: auto;
    }
    h2{
      font-size: 17px;
      font-weight: 600;
      font-family: system-ui;
    }
  }
  ion-col:hover{
    background-color: white;
    box-shadow:1px 5px 10px -2px #f63880;
  }
  ion-col:hover p{
    background-color:#f63880;
    box-shadow:1px 5px 10px -2px #f63880;
    color: white;
  }
}
