<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="estadoUser || estadoUser == undefined">

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panico">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>Pánico</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="OpenLineasRapidas()">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Línea Rapida</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="formulario-registro" >
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Actualiza Datos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>