<app-header titulo="Datos de usuario"></app-header>

<ion-content>
  <app-infousuario [nombreUser]="dataUser['nombre_us']" [correoUser]="dataUser['correo_us']" ></app-infousuario>

  <div id="container">
    <app-logo></app-logo>
    <div class="contTexto">
      <h4>Actualice los datos que sean necesarios. Recuerde que esta información es necesaria en caso de emergencia.</h4>
    </div>
    <form [formGroup]="formRegistro" (ngSubmit)="GuardarDataForm()" >
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input formControlName="nombre_us" inputmode="text" autocapitalize required clearInput></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="contInput">
            <ion-item>
              <ion-label position="floating">Tipo de identificación</ion-label>
              <ion-select value="Cédula de ciudadanía" formControlName="tipo_identifica_us"  autocapitalize required clearInput disabled>
                <ion-select-option value="Cédula de ciudadanía">Cédula de ciudadanía</ion-select-option>
                <ion-select-option value="Tarjeta de extranjería">Tarjeta de extranjería</ion-select-option>
                <ion-select-option value="Cédula de extranjería">Cédula de extranjería</ion-select-option>
                <ion-select-option value="NIT">NIT</ion-select-option>
                <ion-select-option value="Pasaporte">Pasaporte</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="contInput">
            <ion-item>
              <ion-label position="floating">Número identificación</ion-label>
              <ion-input formControlName="num_identifica_us" inputmode="number" disabled autocapitalize required clearInput></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Dirección recidencia</ion-label>
              <ion-input formControlName="direccion_us" inputmode="text" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Ciudad</ion-label>
              <ion-input formControlName="ciudad_us" inputmode="text" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Departamento</ion-label>
              <ion-input formControlName="departamento_us" inputmode="text" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Teléfono de contacto</ion-label>
              <ion-input formControlName="telefono_us" inputmode="number" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input formControlName="correo_us" inputmode="email" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="contTexto">
            <p>Los siguientes datos son requeridos para ser utilizados en caso de emergencia y poder ser contactados por medio del botón de pánico. </p>
          </ion-col>
          <ion-col size="6" class="contInput">
            <ion-item>
              <ion-label position="floating">Nombre contacto 1</ion-label>
              <ion-input formControlName="nom_contacto_uno_us" inputmode="text" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="contInput">
            <ion-item>
              <ion-label position="floating">Teléfono 1</ion-label>
              <ion-input formControlName="tel_contacto_uno_us" inputmode="number" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="contInput">
            <ion-item>
              <ion-label position="floating">Nombre contacto 2</ion-label>
              <ion-input formControlName="nom_contacto_dos_us" inputmode="text" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="contInput">
            <ion-item>
              <ion-label position="floating">Teléfono 2</ion-label>
              <ion-input formControlName="tel_contacto_dos_us" inputmode="number" autocapitalize required clearInput ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="contTexto contInput">
            <ion-checkbox formControlName="terminos" color="primary"></ion-checkbox><span>Acepto términos y condiciones, derechos de uso de datos personales <i><strong><ion-badge color="secondary">Leer Aquí</ion-badge></strong></i> </span>
          </ion-col>
          <ion-col size="6">
            <ion-button type="submit" class="btnAceptar" [disabled]="!formRegistro.valid" expand="block">
              <ion-icon slot="start" name="send-outline"></ion-icon>
              Guardar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="CancelarRegistro()" class="btnCancelar" expand="block">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Cancelar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <br><br><br>
</ion-content>

