.sliderEnterate{
  ion-card{
    box-shadow: transparent 0px 4px 16px;
    padding: 5px 35px;
  }
  h4{
    font-size: 20px;
    color: #8c8c8c;
    font-family: system-ui;
  }
  .parrafo{
    text-align: justify;
    font-style: italic;
    color: #8c8c8c;
    font-family: system-ui;
  }
  p{
    text-align: justify;
    color: #8c8c8c;
    font-family: system-ui;
  }
}