<app-header titulo="Entérate"></app-header>

<ion-content>
  <app-infousuario [nombreUser]="dataUser['nombre_us']" [correoUser]="dataUser['correo_us']" ></app-infousuario>

  <div id="container">
    <app-logo></app-logo>
  </div>

  <ion-slides class="sliderEnterate" mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <h4><strong>La discriminación específica contra la mujer es:</strong></h4>
      <p class="parrafo">“Toda distinción, exclusión o restricción basada en el sexo que tenga por objeto o por resultado menoscabar o anular el reconocimiento, goce o ejercicio por la mujer, independientemente de su estado civil, de los derechos humanos y las libertades fundamentales en las esferas política, económica, social, cultural y civil o en cualquier otra esfera”</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <h4>Recuerda que:</h4>
        <h4><strong>La violencia contra la mujer vulnera específicamente los siguientes derechos:</strong></h4>
        <p>A la vida</p>
        <p>A no ser sometida a torturas o a tratos o penas crueles, inhumanos o degradantes.</p>
        <p>A la protección en condiciones de igualdad respecto a normas humanitarias en tiempo de conflicto armado internacional o interno.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <p>A la libertad y a la seguridad personales.</p>
        <p>A la igualdad ante la ley.</p>
        <p>A la igualdad en la familia.</p>
        <p>Al más alto nivel posible de salud física y mental.</p>
        <p>A condiciones de empleo justas y favorables.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <h4><strong>Tipos de daños contra la mujer a la luz de La Ley 1257 de 2008 </strong></h4>
        <p>Violencia contra la mujer: cualquier acción u omisión, que le cause muerte, daño o sufrimiento físico, sexual, psicológico, económico o patrimonial por su condición de mujer, así como las amenazas de tales actos, la coacción o la privación arbitraria de la libertad, bien sea que se presente en el ámbito público o en el privado</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <p>Violencia económica contra la mujer: cualquier acción u omisión orientada al abuso económico, el control abusivo de las finanzas, recompensas o castigos monetarios a las mujeres por razón de su condición social, económica o política y señala que esta forma de violencia puede consolidarse en las relaciones de pareja, familiares, en las laborales o en las económicas.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <p>Daño psicológico: Consecuencia proveniente de la acción u omisión destinada a degradar o controlar las acciones, comportamientos, creencias y decisiones de otras personas, por medio de intimidación, manipulación, amenaza, directa o indirecta, humillación, aislamiento o cualquier otra conducta que implique un perjuicio en la salud psicológica, la autodeterminación o el desarrollo personal.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <p>Daño o sufrimiento físico: disminución de la integridad corporal de una persona.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <p>Daño o sufrimiento sexual: Consecuencias que provienen de la acción consistente en obligar a una persona a mantener contacto sexualizado, físico o verbal, o a participar en otras interacciones sexuales mediante el uso de fuerza, intimidación, coerción, chantaje, soborno, manipulación, amenaza o cualquier otro mecanismo que anule o limite la voluntad personal. Igualmente, se considerará daño o sufrimiento sexual el hecho de que la persona agresora obligue a la agredida a realizar alguno de estos actos con terceras personas.</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <p>Daño patrimonial: pérdida, transformación, sustracción, destrucción, retención o distracción de objetos, instrumentos de trabajo, documentos personales, bienes, valores, derechos o económicos destinados a satisfacer las necesidades de la mujer.</p>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
