<app-header titulo="Pánico"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="CargandoPanico( $event )">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Deslice para actualizar" refreshingSpinner="circles" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>
  <div id="container">
    <app-logo></app-logo>
    <div>
      <h1>Servicios de Asistencia Rapida!</h1>
    </div>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="contBtnPanico">
        <p>Deslice hacia la izquierda para ver las opciones.</p>
        <ion-list>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Contacto de emergencia 1<br>
                <p>3124567878</p>
              </ion-label>
              <ion-icon slot="end" name="arrow-back-circle-outline"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="EnviaMensajeTexto('3196834539')"><ion-icon name="mail-outline"></ion-icon></ion-item-option>
              <ion-item-option color="success" (click)="RealizaLlamada('3196834539')"><ion-icon name="phone-portrait-outline"></ion-icon></ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed >
    <ion-row>
      <ion-col size="12" class="contBtnPanico">
        <div class="contImg">
          <ion-img src="../../assets/img/alarma.png"></ion-img>
        </div>
        <p>Recuerda que también puedes llamar a las diferentes entidades de reacción en el botón de Línea Rapida.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
