<app-header titulo="Pánico"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="CargandoPanico( $event )">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Deslice para actualizar" refreshingSpinner="circles" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>
  <div id="container">
    <app-logo></app-logo>
    <div>
      <h1>Servicios de Asistencia Rapida!</h1>
    </div>
  </div>

  <ion-grid fixed >
    <ion-row>
      <ion-col size="12" class="contBtnPanico">
        <div class="contImg">
          <ion-img src="../../assets/img/alarma.png"></ion-img>
        </div>
        <p>Recuerda que también puedes llamar a las diferentes entidades de reacción en el botón de Línea Rapida.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
