
<ion-content>
  <div id="container">
    <h1>Validación de usuario</h1>
    <app-logo></app-logo>
    <div class="contTexto">
      <h4>Hola!! Queremos ofrecerte una excelente asesoría, para ello necesitamos validar tu número de identificación para que cuentes con una sistencia completa. Gracias y bienvenida!!</h4>
    </div>
    <form [formGroup]="formValidarUser" (ngSubmit)="ValidarUsuario()" >
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="contInput">
            <ion-item>
              <ion-label position="floating">Número identificación</ion-label>
              <ion-input formControlName="numeroIdentifica" inputmode="number" type="number" autocapitalize required clearInput></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-button type="submit" class="btnAceptar" [disabled]="!formValidarUser.valid" expand="block">
              <ion-icon slot="start" name="send-outline"></ion-icon>
              Guardar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="onClick()" class="btnCancelar" expand="block">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Cancelar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>©2020 + Mujer<br>Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
