#container {
  text-align: center;
  padding: 30px 20px;
  .contTexto{
    h4, p, span{
      font-size: 14px;
      color: #8c8c8c;
      ;
    }
  }
  a {
    text-decoration: none;
  }
  form{
    ion-item{
      font-size: 12px;
      color: #94053c;
    }
    .contInput{
      ion-select{
        max-width: 100%;
      }
      ion-checkbox{
        vertical-align: middle;
        margin-right: 10px;
      }
      ion-badge{
        vertical-align: middle;
      }
    }
    .btnAceptar{
      --background: none;
      background-color: #ad2ea9;
      width: 100%;
      border: 2px solid #ad2ea9;
      border-radius: 35px;
      font-size: 15px;
    }
    .btnCancelar{
      --background: none;
      background-color: #f63880;
      width: 100%;
      border: 2px solid #f63880;
      border-radius: 35px;
      font-size: 15px;
    }
  }
}
