<app-header titulo="Resultado de Orientación"></app-header>

<ion-content class="contResultOrienta">
  <button (click)="VolverOrientacion()" class="btnVolver">
    <ion-icon name="arrow-undo-outline"></ion-icon>
  </button>
  <app-infousuario [nombreUser]="dataUser['nombre_us']" [correoUser]="dataUser['correo_us']" ></app-infousuario>
  <ion-slides mode="ios" pager="ios">
    <ion-slide *ngFor="let orienta of arrayOrienta">
      <ion-card>
        <h2>{{orienta.titulo}}</h2>
        <p>{{orienta.texto}}</p>
        <ion-label><strong>{{orienta.tipoViolencia}} - {{orienta.tipoAgresor}}</strong></ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="navegacionExterna('https://adenunciar.policia.gov.co/Adenunciar/Login.aspx?ReturnUrl=%2fadenunciar%2fdefault.aspx')" type="button" class="btnAceptar" expand="block">
          <ion-icon slot="start" name="body-outline"></ion-icon>
          Denunciar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="OpenOtrasAyudas()" class="btnCancelar" expand="block">
          <ion-icon slot="start" name="help-outline"></ion-icon>
          Otra Ayuda
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
